// app/styles/main.scss

:root {
    --flatly-success: #18bc9c;
    --flatly-warning: #f39c12;
    --flatly-primary: #2c3e50;
    --flatly-secondary: #95a5a6;
    --flatly-light: #ecf0f1;
}

.hidden {
    display: none;
}

.file-upload-tables {
    height: 350px;
    overflow-y: scroll;
}

#app-file_upload-admixture_file-icon {
    margin-top: 5px;
}
#app-file_upload-coords_file-icon {
    margin-top: 5px;
}

.btn-file {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.form-control:focus {
    border-color: #969fa8;
    outline: 0;
    box-shadow: none; 
}

#app-plot_bttn_module-showmap_bttn {
    margin-top: 5px;
    margin-bottom: 20px;
}
#app-plot_bttn_module-showmap_bttn:active {
    background-color: #14a085;
    border-color: #fff;
}

#app-map_module-download_bttn {
    float: right;
    padding-right: 40px;
    padding-top: 5px;
}

#app-map_plot_module-download_bttn:active {
    background-color: #14a085;
    border-color: white;
}

.info-modal-bttn {
    padding: 0;
    position: relative;
    padding-left: 5px;
    padding-bottom: 5px;
}

.info-modal-bttn:active {
    border-color: transparent !important;
}

.modal-close-bttn {
    font-size: large;
    width: 100px;
}

.sample-data-bttn {
    font-size: 0.67em;
    height: 37px;
    width: 85px;
    white-space: normal;
    display: inline-flex;
    align-items: center;
}

.sidebar-container {
    overflow-y: scroll;
}

#options-pills-container {
    pointer-events: none;
}

.parameter-options-container {
    // overflow-y: scroll;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 10px;
    margin-top: 5px;
}

.bootstrap-switch-normal {
    margin-bottom: 4px;
}

.bootstrap-switch-primary {
    padding-right: 10px;
}

.bootstrap-switch.bootstrap-switch-focused {
    border-color: #ccc;
    box-shadow: none;
}

.bootstrap-switch-id-app-map_params_module-arrow_toggle {
    margin-bottom: 29px;
}

.bootstrap-switch-id-app-map_params_module-scalebar_toggle {
    margin-bottom: 30px;
}

#example-file-formats-loading-page {
    width: 500px;
    opacity: 0.3;
}

#app-map_plot_module-filetype_radio_bttn-label {
    padding-top: 10px;
}

.error-message {
    white-space: normal;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

// .timer-loader:not(:required) {
//     background: yellow;
//     border-color: yellow;
// }

// Scroll bar options
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c9cccd; 
}

// Gallery carousel options
.carousel-item {
    background-color: white;
}
.carousel-item img {
    padding-top: 10px;
}